@import "src/styles";

.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url("../assets/images/fond_tuc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#content{
  color: white;
}
