<div class="container-fluid d-flex justify-content-between">
  <div class="col-2 content-container"
       id="usersWithoutCar"
       cdkDropList
       [cdkDropListData]="users"
       [cdkDropListConnectedTo]="tableIds('usersWithoutCar')"
       (cdkDropListDropped)="drop($event)">
    <h3>Users</h3>
    <div class="user-card" *ngFor="let user of users" cdkDrag>
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      {{user.name}}
    </div>
  </div>
  <div class="col-8 content-container align-items-stretch" id="cars">
    <h3>Cars</h3>
    <div class="card d-flex flex-row"
         *ngFor="let car of cars"
         [id]="'car' + car.id"
         cdkDropList
         [cdkDropListData]="car.passengers"
         [cdkDropListConnectedTo]="tableIds('car' + car.id)"
         (cdkDropListDropped)="drop($event)">
      <div class="col-3">{{car.name}} {{car.canAddPassenger}}</div>
      <div class="col-4">
        <div *ngFor="let passenger of car.passengers" cdkDrag>
          <span>{{passenger.name}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="col-2 content-container" id="bikeRemaining" cdkDropList [cdkDropListData]="passengers" [cdkDropListConnectedTo]="tableIds('bikeRemaining')" (cdkDropListDropped)="drop($event)">
    <h3>Bikes</h3>
    <div *ngFor="let bike of passengers" class="user-card" cdkDrag>
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      {{bike.name}}
    </div>
  </div>
</div>
